.content {
    z-index: 20;
    position: fixed;
}

.primary {
    margin: 1.2vh 0;
    height: 12.5vh;
    width: 100%;
    padding: 4.4vh 0;
}

.mdi-48px.mdi-set,
.mdi-48px.mdi:before {
    font-size: 8vh;
}


/*
888888b.                 888                   888    888                        888 
888  "88b                888                   888    888                        888 
888  .88P                888                   888    888                        888 
8888888K.   .d88b.   .d88888 888  888          8888888888  .d88b.   8888b.   .d88888 
888  "Y88b d88""88b d88" 888 888  888          888    888 d8P  Y8b     "88b d88" 888 
888    888 888  888 888  888 888  888          888    888 88888888 .d888888 888  888 
888   d88P Y88..88P Y88b 888 Y88b 888 d8b      888    888 Y8b.     888  888 Y88b 888 
8888888P"   "Y88P"   "Y88888  "Y88888 88P      888    888  "Y8888  "Y888888  "Y88888 
                                  888 8P                                             
                             Y8b d88P "                                              
                              "Y88P"                                                 
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    line-height: 18px;
    padding-left: 40vw;
}

.strong {
    font-weight: 800;
}


/*
██       ██████   ██████   ██████
██      ██    ██ ██       ██    ██
██      ██    ██ ██   ███ ██    ██
██      ██    ██ ██    ██ ██    ██
███████  ██████   ██████   ██████
*/

nav .brand-logo {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.logoImg {
    -webkit-transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-top: 0.9rem;
    margin-right: 9px;
    width: 32px;
}

img.logoImg:hover {
    transform: rotate(1turn);
}

.turn {
    transform: rotate(0.5turn);
}
